<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hospital.erp.board.complaints.ComplaintsDAO">
	
<select id="complaintsList" parameterType="ComplaintsVO" resultType="ComplaintsVO">
		SELECT 
		    C.COMP_CD, 
		    C.MEM_CD, 
		    C.CODE_CD, 
		    CO.CODE_NAME AS codeTypeName, 
		    C.CODE_CD_ACTION, 
		    CA.CODE_NAME AS actionTypeName, 
		    C.COMP_TITLE, 
		    C.COMP_CONTENTS, 
		    C.COMP_SECRET, 
		    C.COMP_DELETE, 
		    C.COMP_RDATE
		FROM COMPLAINTS C
		INNER JOIN CODE CO ON C.CODE_CD = CO.CODE_CD
		INNER JOIN CODE CA ON C.CODE_CD_ACTION = CA.CODE_CD
</select>


  	
</mapper>