<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hospital.erp.patient.PatientDAO">
	
	
  	<!-- 환자 목록 -->
  	<select id="patientList" resultType="PatientVO">
		SELECT
  			 P.*, C.CODE_NAME, R.RES_VDATE
  		FROM
  			PATIENT P 
  				JOIN CODE AS C
  					ON P.CODE_CD = C.CODE_CD
  				LEFT OUTER JOIN (
  								SELECT 
  									PAT_CD ,
  									MAX(RES_VDATE) AS RES_VDATE
  								FROM 
  									RESERVATION
 								GROUP BY 
 									PAT_CD) AS R
  					ON P.PAT_CD = R.PAT_CD
  	</select>
	
	<!-- 환자 등록 -->
	<insert id="patientInsert" parameterType="PatientVO">
		INSERT INTO
			PATIENT
		VALUES
			(
			NULL,
			#{codeCd},
			#{patName},
			#{patRnum},
			#{patPnum},
			NOW()
			)
	</insert>
	
	<select id="patientData" parameterType="PatientVO" resultType="PatientVO">
		SELECT
			P.*, C.CODE_NAME
		FROM
			PATIENT AS P
				JOIN CODE AS C
					ON P.CODE_CD = C.CODE_CD
		WHERE PAT_CD = #{patCd}
	</select>
	
	<update id="patientUpdate" parameterType="PatientVO">
		UPDATE
			PATIENT
		SET
			PAT_NAME = #{patName},
			PAT_RNUM = #{patRnum},
			PAT_PNUM = #{patPnum}
		WHERE
			PAT_CD = #{patCd}
	</update>
  	
  
</mapper>