<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.erp.payment.PaymentDAO">
	<insert id="paymentInsert" parameterType="PaymentVO" useGeneratedKeys="true" keyProperty="epCd">
		INSERT INTO 
			ELECTRONIC_PAYMENT
				(
				MEM_CD, 
				DF_CD, 
				EP_TITLE, 
				EP_VTYPE, 
				EP_OTYPE, 
				EP_SDATE, 
				EP_EDATE,
				EP_DAYS, 
				EP_PRICE, 
				EP_LOCATION, 
				EP_INPUT1, 
				EP_INPUT2, 
				EP_INPUT3, 
				EP_REASON,
				EP_CONTENTS,
				EP_DSTATUS,
				EP_FDATE, 
				EP_RDATE
				)
		VALUES 
			(
			#{memCd}, 
			#{dfCd}, 
			#{epTitle}, 
			#{epVType}, 
			#{epOType}, 
			#{epSDate}, 
			#{epEDate}, 
			#{epDays},
			#{epPrice}, 
			#{epLocation}, 
			#{epInput1}, 
			#{epInput2}, 
			#{epInput3}, 
			#{epReason},
			#{epContents},
			#{epDStatus},
			#{epFDate}, 
			NOW()
			)
		;
	</insert>
	
	<!-- 결재안된 문서 전체보기 -->
	<select id="paymentAllList1" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			A.CON_STEP AS CON_STEP,
			A.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			A.MEM_NAME AS CONMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN 
				(
				SELECT
					*
				FROM
					CONFIRM AS CON
				WHERE
					CON.CON_PSTATUS = 4
				) A
				ON EP.EP_CD = A.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD
		ORDER BY
			EP.EP_CD DESC

			
			<!--
			WHERE
			 (CON.CON_CD, CON.CON_STEP) IN
				(
				SELECT 
					CON_CD, MIN(CON_STEP)
				FROM
					(
					SELECT 
						*
					FROM 
						CONFIRM 
				
					ORDER BY
						EP_CD, CON_STEP
					) A
				GROUP BY
					A.EP_CD				
				) -->
	</select>
	
	<!-- 결재완료된 문서 전체보기 -->
	<select id="paymentAllList2" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			A.CON_STEP AS CON_STEP,
			A.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			A.MEM_NAME AS CONMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN 
				(
				SELECT
					*
				FROM
					CONFIRM AS CON
				WHERE
					CON.CON_PSTATUS = 4
				) A
				ON EP.EP_CD = A.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD
		ORDER BY
			EP.EP_CD DESC
	</select>
	
	<!-- 로그인한 사람 기준의 완료문서 보기 -->
	<select id="paymentList1" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			CON.CON_STEP AS CON_STEP,
			CON.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			CON.MEM_NAME AS CONMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN CONFIRM AS CON
				ON EP.EP_CD = CON.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD
			LEFT JOIN REFERENCE AS REF
				ON EP.EP_CD = REF.EP_CD
		WHERE
			<!-- (CON.MEM_CD = #{memCd} OR REF.MEM_CD = #{memCd} OR EP.MEM_CD = #{memCd}) AND -->
			(EP.EP_DSTATUS = 2) AND
			(CON.CON_CD) IN
				(
				SELECT 
					CON_CD
				FROM
					(
					SELECT 
						*
					FROM 
						CONFIRM 
					WHERE 
						CON_PSTATUS = 2 AND CON_STEP = 4
					ORDER BY
						EP_CD
					) A
				GROUP BY
					A.EP_CD				
				)
	</select>
	<!-- 승인대기문서 -->
	<select id="paymentList2" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			A.CON_STEP AS CON_STEP,
			A.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			A.MEM_NAME AS CONMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN 
				(
				SELECT
					*
				FROM
					CONFIRM AS CON
				WHERE
					CON.CON_PSTATUS = 0 AND 
					CON.CON_STEP = (SELECT MIN(SCON.CON_STEP) FROM CONFIRM AS SCON WHERE SCON.CON_PSTATUS =0 AND SCON.EP_CD = CON.EP_CD)
				) A
				ON EP.EP_CD = A.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD 
		WHERE
			A.MEM_CD = #{memCd}
	</select>
	<!-- 결재수신문서 -->
	<select id="paymentList3" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			A.CON_STEP AS CON_STEP,
			A.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			A.MEM_NAME AS CONMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN 
				(
				SELECT
					*
				FROM
					CONFIRM AS CON
				WHERE
					CON.CON_PSTATUS = 2
				) A
				ON EP.EP_CD = A.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD 
		WHERE
			A.MEM_CD = #{memCd} AND
			EP.EP_DSTATUS = 2
	</select>
	<!-- 참조문서 -->
	<select id="paymentList4" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			A.CON_STEP AS CON_STEP,
			A.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			A.MEM_NAME AS CONMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN 
				(
				SELECT
					*
				FROM
					CONFIRM AS CON
				WHERE
					CON.CON_PSTATUS = 2
				) A
				ON EP.EP_CD = A.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD 
			LEFT JOIN REFERENCE AS REF
				ON EP.EP_CD = REF.EP_CD
		WHERE
			REF.MEM_CD = #{memCd}
	</select>
	<!-- 기안문서 -->
	<select id="paymentList5" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			A.CON_STEP AS CON_STEP,
			A.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			A.MEM_NAME AS CONMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN 
				(
				SELECT
					*
				FROM
					CONFIRM AS CON
				WHERE
					CON.CON_PSTATUS = 2 AND 
					CON.CON_STEP = (SELECT MAX(SCON.CON_STEP) FROM CONFIRM AS SCON WHERE SCON.CON_PSTATUS =2 AND SCON.EP_CD = CON.EP_CD)
				) A
				ON EP.EP_CD = A.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD 
		WHERE
			EP.MEM_CD = #{memCd}
			
	</select>
	<!-- 임시저장 -->
	<select id="paymentList6" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			MEM.MEM_NAME AS MEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD
		WHERE
			EP.MEM_CD = #{memCd} AND EP_DSTATUS = 1
	</select>
	
	<update id="paymentUpdate" parameterType="PaymentVO">
		UPDATE
			ELECTRONIC_PAYMENT
		SET
			EP_DSTATUS = #{epDStatus},
			EP_FDATE = NOW()
		WHERE
			EP_CD=#{epCd}
	</update>
	
	<!-- 전자결재문서 DETAIL -->
	<!-- 
	<select id="paymentData" parameterType="PaymentVO" resultMap="paymentDataResult">
		SELECT
			EP.*,
			MEM.*,
			DEP.DEP_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD
			LEFT JOIN DEPARTMENT AS DEP
				ON MEM.DEP_CD = DEP.DEP_CD
		WHERE
			EP.EP_CD=#{epCd}
	</select>
	
	<resultMap type="PaymentVO" id="paymentDataResult">
		<id column="EP_CD" property="epCd"/>
		<result column="MEM_CD" property="memCd"/>
		<result column="DF_CD" property="dfCd"/>
		<result column="EP_TITLE" property="epTitle"/>
		<result column="EP_VTYPE" property="epVType"/>
		<result column="EP_OTYPE" property="epOType"/>
		<result column="EP_SDATE" property="epSDate"/>
		<result column="EP_EDATE" property="epEDate"/>
		<result column="EP_DAYS" property="epDays"/>
		<result column="EP_PRICE" property="epPrice"/>
		<result column="EP_LOCATION" property="epLocation"/>
		<result column="EP_INPUT1" property="epInput1"/>
		<result column="EP_INPUT2" property="epInput2"/>
		<result column="EP_INPUT3" property="epInput3"/>
		<result column="EP_REASON" property="epReason"/>
		<result column="EP_CONTENTS" property="epContents"/>
		<result column="EP_DSTATUS" property="epDStatus"/>
		<result column="EP_FDATE" property="epFDate"/>
		<result column="EP_RDATE" property="epRDate"/>
		<collection property="memberVOs" javaType="MemberVO">
			<id column="MEM_CD" property="memCd"/>
			<result column="JOB_CD" property="jobCd"/>
			<result column="DEP_CD" property="depCd"/>
			<result column="MEM_NAME" property="memName"/>
		</collection>
		<collection property="departmentVOs" javaType="DepartmentVO">
			<id column="DEP_CD" property="depCd"/>
			<result column="DEP_NAME" property="depName"/>
		</collection>
	</resultMap>
	 -->
	
	

	<select id="paymentData" parameterType="PaymentVO" resultMap="paymentDataResult">
		SELECT
			EP.*,
			DF.*,
			MEM.*,
			DEP.DEP_NAME,
			CON.*,
			REF.*
			
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN CONFIRM AS CON
				ON EP.EP_CD = CON.EP_CD
			LEFT JOIN REFERENCE AS REF
				ON EP.EP_CD = REF.EP_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD
			LEFT JOIN DEPARTMENT AS DEP
				ON MEM.DEP_CD = DEP.DEP_CD
		WHERE
			EP.EP_CD=#{epCd}
	</select>

	<resultMap type="PaymentVO" id="paymentDataResult">
		<id column="EP_CD" property="epCd"/>
		<result column="MEM_CD" property="memCd"/>
		<result column="DF_CD" property="dfCd"/>
		<result column="EP_TITLE" property="epTitle"/>
		<result column="EP_VTYPE" property="epVType"/>
		<result column="EP_OTYPE" property="epOType"/>
		<result column="EP_SDATE" property="epSDate"/>
		<result column="EP_EDATE" property="epEDate"/>
		<result column="EP_DAYS" property="epDays"/>
		<result column="EP_PRICE" property="epPrice"/>
		<result column="EP_LOCATION" property="epLocation"/>
		<result column="EP_INPUT1" property="epInput1"/>
		<result column="EP_INPUT2" property="epInput2"/>
		<result column="EP_INPUT3" property="epInput3"/>
		<result column="EP_REASON" property="epReason"/>
		<result column="EP_CONTENTS" property="epContents"/>
		<result column="EP_DSTATUS" property="epDStatus"/>
		<result column="EP_FDATE" property="epFDate"/>
		<result column="EP_RDATE" property="epRDate"/>
		<collection property="documentFormVOs" javaType="DocumentFormVO">
			<id column="DF_CD" property="dfCd"/>
			<result column="DF_KIND" property="dfKind"/>
			<result column="DF_VTAB" property="dfVTab"/>
			<result column="DF_OTAB" property="dfOTab"/>
			<result column="DF_DTAB" property="dfDTab"/>
			<result column="DF_PTAB" property="dfPTab"/>
			<result column="DF_LTAB" property="dfLTab"/>
			<result column="DF_IN1TAB" property="dfIn1Tab"/>
			<result column="DF_IN2TAB" property="dfIn2Tab"/>
			<result column="DF_IN3TAB" property="dfIn3Tab"/>
			<result column="DF_CONTENTS" property="dfContents"/>
		</collection>
		<collection property="memberVOs" javaType="MemberVO">
			<id column="MEM_CD" property="memCd"/>
			<result column="JOB_CD" property="jobCd"/>
			<result column="DEP_CD" property="depCd"/>
			<result column="MEM_NAME" property="memName"/>
			<result column="MEM_PNUM" property="memPnum"/>
			<result column="MEM_SPATH" property="memSPath"/>
		</collection>
		<collection property="departmentVOs" javaType="DepartmentVO">
			<id column="DEP_CD" property="depCd"/>
			<result column="DEP_NAME" property="depName"/>
		</collection>
		<collection property="confirmVOs" javaType="java.util.List" ofType="ConfirmVO">
			<id column="CON_CD" property="conCd"/>
			<result column="EP_CD" property="epCd"/>
			<result column="MEM_CD" property="memCd"/>
			<result column="MEM_NAME" property="memName"/>
			<result column="CON_STEP" property="conStep"/>
			<result column="CON_RDATE" property="conRDate"/>
			<result column="CON_PSTATUS" property="conPStatus"/>
			<result column="CON_CONMMENT" property="conConmment"/>
		</collection>
		<collection property="referenceVOs" javaType="java.util.List" ofType="ReferenceVO">
			<id column="REF_CD" property="refCd"/>
			<result column="EP_CD" property="epCd"/>
			<result column="MEM_CD" property="memCd"/>
			<result column="MEM_NAME" property="memName"/>
			<result column="REF_RDATE" property="refRDate"/>
		</collection>
		
	</resultMap>









</mapper>
