<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.erp.payment.PaymentDAO">
	<insert id="paymentInsert" parameterType="PaymentVO">
		INSERT INTO 
			ELECTRONIC_PAYMENT
				(
				MEM_CD, 
				DF_CD, 
				EP_TITLE, 
				EP_VTYPE, 
				EP_OTYPE, 
				EP_SDATE, 
				EP_EDATE, 
				EP_PRICE, 
				EP_LOCATION, 
				EP_INPUT1, 
				EP_INPUT2, 
				EP_INPUT3, 
				EP_REASON,
				EP_DSTATUS,
				EP_FDATE, 
				EP_RDATE
				)
		VALUES 
			(
			#{memCd}, 
			#{dfCd}, 
			#{epTitle}, 
			#{epVType}, 
			#{epOType}, 
			#{epSDate}, 
			#{epEDate}, 
			#{epPrice}, 
			#{epLocation}, 
			#{epInput1}, 
			#{epInput2}, 
			#{epInput3}, 
			#{epReason},
			#{epDStatus},
			#{epFDate}, 
			NOW()
			)
		;
	</insert>
	
	<select id="paymentAllList" parameterType="PaymentVO">
		SELECT
			EP.EP_CD AS EP_CD,
			EP.EP_RDATE AS EP_RDATE,
			EP.EP_TITLE AS EP_TITLE,
			EP.EP_DSTATUS AS EP_DSTATUS, 
			DF.DF_KIND AS DF_KIND,
			CON.CON_STEP AS CON_STEP,
			CON.CON_PSTATUS AS CON_PSTATUS,
			MEM.MEM_NAME AS MEM_NAME,
			CONMEM.MEM_NAME AS CONMEM_NAME,
			REFMEM.MEM_NAME AS REFMEM_NAME
		FROM
			ELECTRONIC_PAYMENT AS EP 
			LEFT JOIN DOCUMENT_FORM AS DF
				ON EP.DF_CD = DF.DF_CD
			LEFT JOIN CONFIRM AS CON
				ON EP.EP_CD = CON.EP_CD
			LEFT JOIN MEMBER AS CONMEM
				ON CON.MEM_CD = CONMEM.MEM_CD
			LEFT JOIN REFERENCE AS REF
				ON EP.EP_CD = REF.EP_CD
			LEFT JOIN MEMBER AS REFMEM
				ON REF.MEM_CD = REFMEM.MEM_CD
			LEFT JOIN MEMBER AS MEM
				ON EP.MEM_CD = MEM.MEM_CD
	</select>
	
	<select id="paymentList" parameterType="PaymentVO">
		SELECT
			*
		FROM
			ELECTRONIC_PAYMENT
		WHERE
			MEM_CD = #{memCd}
	</select>
	
</mapper>
