<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hospital.erp.surgery.SurgeryDAO">

	<!-- 전체 수술실 리스트 조회 -->
	<select id="surgeryList" resultType="SurgeryVO">
		SELECT
			*
		FROM
			SURGERY
		WHERE
			SUR_USE = 1
  	</select>
  	
  	<!-- surCd 파라미터로 수술실 한건 조회 -->
	<select id="surgeryData" resultType="SurgeryVO" parameterType="SurgeryVO">
		SELECT
			*
		FROM
			SURGERY
		WHERE
			SUR_CD = #{surCd}
  	</select>
  	
  	<!-- 수술실 수정 -->
  	<update id="surgeryUpdate" parameterType="SurgeryVO">	
		UPDATE 
			SURGERY 
		SET 
			SUR_NUM = #{surNum}
		WHERE 
			SUR_CD = #{surCd}
  	</update>
  	
  	<!-- 수술실 삭제 -->
  	<update id="surgeryDelete" parameterType="SurgeryVO">	
		UPDATE 
			SURGERY 
		SET 
			SUR_USE = 0
		WHERE 
			SUR_CD = #{surCd} AND 
			SUR_NUM = #{surNum}
  	</update>
  	
  	<!-- 수술실 등록  -->
  	<insert id="surgeryInsert" parameterType="SurgeryVO" useGeneratedKeys="true" keyProperty="surCd">	
		INSERT INTO 
			SURGERY
				(
				SUR_NUM, 
				SUR_RDATE, 
				SUR_USE
				)
			VALUES 
				(
				#{surNum}, 
				NOW(), 
				1
				)
  	</insert>
  	
  	<!-- 수술실 참가자 선택을 위한 MEMBER 리스트 조회 (가발령, 인사과 제외) -->
<!--	<select id="memberList" resultType="SurgeryParticiantVO">
		SELECT
			M.MEM_CD,
			M.MEM_NAME,
			D.DEP_NAME
		FROM 
			MEMBER M JOIN DEPARTMENT D
			ON M.DEP_CD = D.DEP_CD
		WHERE 
			D.DEP_CD NOT IN (1,2)
  	</select>-->
  	
  	<select id="surgeryScheduleCheck" resultType="ScheduleVO" parameterType="ScheduleVO">
		SELECT
			*
		FROM 
			SCHEDULE
		WHERE 
			CODE_CD = #{codeCd} AND 
			SCH_FK = #{schFk} AND 
			(
			(#{schSdate} <![CDATA[<=]]> SCH_SDATE AND #{schEdate} <![CDATA[>]]> SCH_SDATE) OR
			(#{schSdate} <![CDATA[<]]> SCH_EDATE AND #{schEdate} <![CDATA[>=]]> SCH_EDATE) OR
			(#{schSdate} <![CDATA[>=]]> SCH_SDATE AND #{schSdate} <![CDATA[<]]> SCH_EDATE) OR
			(#{schEdate} <![CDATA[>]]> SCH_SDATE AND #{schEdate} <![CDATA[<=]]> SCH_EDATE)
			)
  	</select>
  	
  	<!-- 수술실 예약 등록 -->
  	<insert id="surgeryScheduleInsert" parameterType="scheduleVO" useGeneratedKeys="true" keyProperty="schCd">	
		INSERT INTO 
			SCHEDULE
				(
				MEM_CD, 
				CODE_CD, 
				SCH_FK, 
				SCH_SDATE, 
				SCH_EDATE, 
				SCH_RDATE
				)
			VALUES 
				(
				#{memCd}, 
				#{codeCd}, 
				#{schFk}, 
				#{schSdate}, 
				#{schEdate}, 
				NOW()
				)
  	</insert>
  	
  	<!-- surgery surNum 중복 체크 -->
  	<select id="surgeryCheck" resultType="SurgeryVO" parameterType="SurgeryVO">
		SELECT
			*
		FROM
			SURGERY
		WHERE
			SUR_NUM = #{surNum}
  	</select>
  	
  	<select id="surgeryScheduleCheck2" resultType="ScheduleVO" parameterType="ScheduleVO">
		SELECT
			*
		FROM 
			SCHEDULE
		WHERE 
			SCH_CD NOT IN (#{schCd}) AND
			CODE_CD = #{codeCd} AND 
			SCH_FK = #{schFk} AND 
			(
			(#{schSdate} <![CDATA[<=]]> SCH_SDATE AND #{schEdate} <![CDATA[>]]> SCH_SDATE) OR
			(#{schSdate} <![CDATA[<]]> SCH_EDATE AND #{schEdate} <![CDATA[>=]]> SCH_EDATE) OR
			(#{schSdate} <![CDATA[>=]]> SCH_SDATE AND #{schSdate} <![CDATA[<]]> SCH_EDATE) OR
			(#{schEdate} <![CDATA[>]]> SCH_SDATE AND #{schEdate} <![CDATA[<=]]> SCH_EDATE)
			)
  	</select>
  	
  	<delete id="surgeryScheduleDelete" parameterType="ScheduleVO">
		DELETE 
			FROM SCHEDULE 
		WHERE 
			SCH_CD = #{schCd}
		;

  	</delete>
  	
</mapper>